node_modules/

starter-gulp-lp-miaw/
ressources/

.DS_Store

TP3/
TP4/
TP5/
TP6/
TP7/
TP9-BEM-SASS/
TP10-BEM-SASS/

# gitignore all images and fonts

*.jpg
*.jpeg
*.gif
*.webp
*.png
*.svg
*.bmp
*.ico

*.pdf
*.zip
*.psd

*.ttf
*.otf
*.woff
*.woff2
